# Node modules
node_modules/

# Build outputs
dist/
frontend/*.js
frontend/*.js.map

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# VSCode settings
.vscode/

# Misc
package-lock.json

# Electron specific
*.asar

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 